body {
  background: red;
  background: -webkit-linear-gradient(left top, red, yellow) fixed;
  background: -o-linear-gradient(bottom right, red, yellow) fixed;
  background: -moz-linear-gradient(bottom right, red, yellow)fixed;
  background: linear-gradient(to bottom right, red, yellow) fixed;
}

.cont {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: rgba(51, 51, 51, 0.1);
  border-radius: 6px;
  margin: 20px;
  overflow: hidden;
}

.calcFrame {
  border-radius: 4px;
  width: 250px;
  margin: 0 auto;
}

.calcScreen {
  width: 250px;
  height: 75px;
  border: 1px solid white padding: 10px;
  margin: 0 auto;
  overflow: hidden;
}

.calcResult {
  font-size: 30px;
  color: white;
  margin: 10px;
}

.calcInput {
  font-size: 20px;
  color: white;
  margin: 10px;
}

button {
  background: transparent;
  border: none;
  border: 1px solid white;
  cursor: pointer;
  font-size: 30px;
  color: white;
  margin: 2px;
  width: 55px;
  height: 55px;
  text-align: centre;
}

footer {
  position: absolute;
  display: inline-block;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

footer a img {
  height: 20px;
  width: 100%;
}